<h2>New product!</h2>

<% @product.errors.full_messages.each do |error| %>
<p><%= error %></p>
<% end %>

<%= form_tag '/products', method: :post do %>
<%= render 'form.html.erb' %>

<%= submit_tag 'Make a new product' %>
<% end %>